<html>
    
    <head>
        <title>Ken's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ken's Blog</a></h1>
        </div>

        <div>
            <p> published: today</p>
            <h2><a href="">My first post</a></h2>
            <p>tlkejrl; skjt lksd 
                lk sdfk;l </p>
        </div>

        <div>
            <p>published: sldkfjs df</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi there!</p>
            <p>It works!</p>
        </div>
    </body>
<html>

